<h3 class="title">Input</h3>

<div class="demo-container">
  <h4 class="demo-header">ICE Checkbox</h4>
  <p class="demo-header">Types</p>
  <div class="demo-item">
    {{ice-checkbox}}
  </div>
  <div class="demo-item">
    {{ice-checkbox label="Chekcbox Label"}}
  </div>
  <div class="demo-item">
    {{ice-checkbox 
      checked=true
      label="Chekcbox-checked"
    }}
  </div>
  <div class="demo-item">
    {{ice-checkbox
      indeterminate=true
      label="Chekcbox-indeterminate"
    }}
  </div>
  <p class="demo-header">Disabled State</p>
  <div class="demo-item">
    {{ice-checkbox disabled=true}}
  </div>
  <div class="demo-item">
    {{ice-checkbox 
      label="Chekcbox Label" 
      disabled=true
    }}
  </div>
  <div class="demo-item">
    {{ice-checkbox 
      checked=true
      label="Chekcbox-checked"
      disabled=true
    }}
  </div>
  <div class="demo-item">
    {{ice-checkbox
      indeterminate=true
      label="Chekcbox-indeterminate"
      disabled=true
    }}
  </div>
</div>