<div class="demo-container">
  {{#ice-form formHeading="Form Subheading"}}
    {{#ice-form-element
      legend="Form Group Label"
    }}
      {{ice-radio label="Chekcbox Label"}}
      {{ice-radio 
        checked=true
        label="Chekcbox-checked"
      }}
      {{ice-radio 
        label="Chekcbox Label" 
        disabled=true
      }}
      {{ice-radio 
        checked=true
        label="Chekcbox-checked"
        disabled=true
      }}
    {{/ice-form-element}}
    {{#ice-form-element
      legend="Form Group Label"
    }}
      {{ice-checkbox label="Chekcbox Label"}}
      {{ice-checkbox 
        checked=true
        label="Chekcbox-checked"
      }}
      {{ice-checkbox
        indeterminate=true
        label="Chekcbox-indeterminate"
      }}
      {{ice-checkbox 
        label="Chekcbox Label" 
        disabled=true
      }}
      {{ice-checkbox 
        checked=true
        label="Chekcbox-checked"
        disabled=true
      }}
      {{ice-checkbox
        indeterminate=true
        label="Chekcbox-indeterminate"
        disabled=true
      }}
    {{/ice-form-element}}
    {{#ice-form-element}}
      {{ice-text-field 
        value='Input Text'
        placeholder='Enter Text'
        label="Text Field Label"
      }}
    {{/ice-form-element}}
    {{#ice-form-element}}
      {{ice-text-field 
        placeholder='Enter Text'
        disabled=true
        label="Disabled"
      }}
    {{/ice-form-element}}
    {{#ice-form-element}}
      {{ice-text-field
        value="Disabled"
        placeholder='Enter Text'
        disabled=true
        label="Disabled"
      }}
    {{/ice-form-element}}
    {{#ice-form-element}}
      {{ice-text-field 
        value='Input Text'
        readonly=true
        label="Read Only"
      }}
    {{/ice-form-element}}
    {{#ice-form-element}}
      {{ice-text-field 
        value='Input Text'
        isError=true
        label="Error"
      }}
    {{/ice-form-element}}
    {{#ice-form-element}}
      {{ice-text-field 
        value='Input Text'
        isWarning=true
        label="Warning"
      }}
    {{/ice-form-element}}
  {{/ice-form}}
</div>
