<h3 class="title">Input</h3>

<div class="demo-container">
  <h4 class="demo-header">ICE Input</h4>
  <p class="demo-header">Types</p>
  <div class="demo-item">
    <p>Input</p>
    {{ice-input 
      type='text'
      placeholder='Enter Text'
    }}
    <br>
    <br>
    {{ice-input 
      type='text'
      value='Input Text'
      placeholder='Enter Text'
    }}
  </div>
  <p class="demo-header">States</p>
  <div class="demo-item">
    <p>Focused</p>
    {{ice-input 
      type='text'
      placeholder='Enter Text'
      shouldFocus=true
    }}
  </div>
  <div class="demo-item">
    <p>Disabled</p>
    {{ice-input 
      type='text'
      placeholder='Enter Text'
      disabled=true
    }}
  </div>
  <div class="demo-item">
    <p>Read Only</p>
    {{ice-input 
      type='text'
      value='Input Text'
      readonly=true
    }}
  </div>
  <div class="demo-item">
    <p>Error</p>
    {{ice-input 
      type='text'
      value='Input Text'
      error=true
    }}
  </div>
  <div class="demo-item">
    <p>Warning</p>
    {{ice-input 
      type='text'
      value='Input Text'
      warning=true
    }}
  </div>
  <p class="demo-header">Size</p>
  <div class="demo-item">
    <p>Small</p>
    {{ice-input 
      type='text'
      placeholder='Enter Text'
      inputSize='small'
    }}
    <br>
    <br>
    <p>Medium(Default)</p>
    {{ice-input 
      type='text'
      placeholder='Enter Text'
    }}
  </div>
</div>