<h3 class="title">Input</h3>

<div class="demo-container">
  <h4 class="demo-header">ICE Radio</h4>
  <p class="demo-header">Types</p>
  <div class="demo-item">
    {{ice-radio}}
  </div>
  <div class="demo-item">
    {{ice-radio label="Radio Label"}}
  </div>
  <div class="demo-item">
    {{ice-radio 
      checked=true
      label="Radio-checked"
    }}
  </div>
  <p class="demo-header">Disabled State</p>
  <div class="demo-item">
    {{ice-radio disabled=true}}
  </div>
  <div class="demo-item">
    {{ice-radio 
      label="Radio Label" 
      disabled=true
    }}
  </div>
  <div class="demo-item">
    {{ice-radio 
      checked=true
      label="Radio-checked"
      disabled=true
    }}
  </div>
</div>